# Python (Backend) envs
__pycache__/
venv/
.env
*.pyc

# Node (Frontend) envs
node_modules/
dist/
.env.local
.env.production

# Local Databases & Credentials
db.sqlite3
firebase-credentials.json

# Temporary/Log Files
*error_log.txt
*server_error.txt

# Editor configs
.vscode/
.idea/